.carousel
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.profile-pics
{
width: 150px;
height: 150px;
object-fit: cover;
}

/*
.profile1
{
    float: left;
    height: 100px;
    border-radius: 50%;
    border-style: groove;
    width: 25%;
}

.profile2
{
    float: left;
    border-radius: 50%;
    width: 25%;
}

.profile3
{
    float: left;
    border-radius: 50%;
    width: 25%;
}
/*
.content
{
    width: 100%;
    height: 400px;
    background-color:gold;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.firstBox
{
    float: left;
    height: 200px;
    width: 25%;
    background-color: antiquewhite;
}

.secondBox
{
    float: left;
    height: 200px;
    width: 25%;
    background-color: antiquewhite;
}

.thirdBox
{
    float: left;
    height: 200px;
    width: 25%;
    background-color: antiquewhite;
}


/*.carousel-inner
{
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.carousel-item {
    text-align: center;
}
.carousel-item img
{
    display:inline-block;
    width: 600px;
    height: 400px;
    object-fit: cover;
}
/*.carousel-inner .carousel-item img
{
    width: 600px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}*/

@media (max-width: 768px) {
.carousel-inner .carousel-item img{
    width: 100%;
    height: auto;
}
}